* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header class styling */
/* set to position fixed to remain at the top */
.first-head {
    position: fixed;
    /* background: #7E7E7E; */
    background: #879095;
    width: 100%;
    /* z-index is for the write-ups to be forward */
    z-index: 9999;
    box-shadow: 10px 10px 10px grey;


    border: 0px solid black;
}

.content {
    width: 100%;
    height: 70px;
    border: 0px solid green;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #ccc;
}


.logo {
    font-weight: 600;
    margin-left: 2%;
    width: 40%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-logo {
    width: 100%;
    /* height: 40px; */
    margin-top: -25px;
}

.links {
    width: 60%;

}

.content-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

li a:hover {
    color: #FF1694;
    transition: 0.5s ease-in;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile h3 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 5px;
    color: #fff;
}

.profile a {
    text-decoration: none;
    color: #fff;
}

.profile a:hover {
    text-decoration: none;
    color: #FF1694;
}

.profile .button-sign {
    width: 100px;
    height: auto;
    background-color: #FF87CE;
    border: 1px solid #FF87CE;
    border-radius: 5px;
    color: #000;
    margin-left: 10px;
    text-align: center;
}

ul .drop-menu {
    background: grey;
    top: 85px;
    line-height: 45px;
    position: absolute;
    color: white;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 3px 3px 3px 3px rgb(183, 182, 182);
}

.drop-menu li a {
    list-style: none;
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
}

.content-list li:hover .drop-menu {

    top: 44px;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.profile .button-sign:hover {
    width: 100px;
    height: auto;
    background-color: #FF1694;
    border: 1px solid #FF1694;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

/* nav button set to display none at large screen */
.mobile-nav-toggle {
    display: none;
}

.logo-mobile {
    display: none;
}

.buttons-tin {
    display: none;
}

.cart-img {
    display: none;
}

/* @media only screen and (min-width:992px) and (max-width:1200px) {

} */
@media only screen and (max-width:992px) {
    .logo {
        z-index: 9999;
        display: none;
        /* height: 100px; */
    }

    .img-logo {
        width: 100%;
        margin-top: -25px;
        height: 100px;

    }

    .drop-menu li a {
        width: 100%;
        display: block;
        padding: 0 0 0 15px;
        font-weight: 400;
        font-size: 10px;

    }


    .logo-mobile {
        display: block;
        font-weight: 600;
        margin-left: 2%;
        width: 40%;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        z-index: 9999;
    }

    .img-mobile-logo {
        width: 100%;
        /* height: 40px; */
        margin-top: 0px;
        height: 70px;
    }
}

@media screen and (max-width:1200px) {

    .first-head {
        position: fixed;
        background: #879095;
        width: 100%;
        /* z-index is for the write-ups to be forward */
        z-index: 9999;
        box-shadow: 10px 10px 10px grey;
        border: 0px solid black;
    }

    /* always set to position absolute
    and the z-index is for it to be at the front
    */

    .drop-menu li a {
        width: 100%;
        display: block;
        padding: 0 0 0 15px;
        font-weight: 400;
        font-size: 10px;

    }

    .cart-img {
        display: block;
        position: absolute;
        right: 4rem;
        top: 1rem;
        color: #fff;
        transition: 0.5s ease-in;

    }

    .cart-img:hover {
        color: #FF1694;
    }

    .mobile-nav-toggle {
        position: absolute;
        display: block;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='3' y1='12' x2='21' y2='12'></line><line x1='3' y1='6' x2='21' y2='6'></line><line x1='3' y1='18' x2='21' y2='18'></line></svg>");
        color: #ccc;
        /* background: red; */
        /* background-image: url(font_awesome/svg/burger-menu-svgrepo-com.svg);
         */
        /* background-image: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/svgs/solid/bars.svg'); */
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        z-index: 9999;
    }

    .carty {
        display: none;
    }

    /* for interaction with javascript */
    .mobile-nav-toggle[aria-expanded="true"] {
        /* background: green; */
        /* background-image: url("assets/font_awesome1/svgs/regular/thumbs-down.svg"); */
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>");
        /* background-image: url(font_awesome/svg/close.png); */
        /* background-image: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/svgs/solid/times.svg'); */
    }

    .content-list {
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: start;
        inset: 0 0 0 0%;
        --gap: 2em;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        /* backdrop-filter: blur(2rem); */
        background-color: #879095;
    }

    /* used in javascript to give a condition if 
      visibility is set true then set data-visible to false
      */
    .content-list[data-visible="true"] {
        transform: translateX(0%);
    }





}